<htlm>

<head>
	<title>SJ's first Web-svc pages : Test blog</title>
</head>

<body>

	<!-- 
	<p>Hi there! I'm SJ.</p> 
	<p>It works from 12nd Dec. 2018 3:53PM.</p> 
	-->
	<div>
		<h1><a href="">SJ's Test Blog</a></h1>
	</div>


<!--
	<div>
		<p>published: 12.12.2018, 16:07</p>
		<h2><a href="">The first post</a></h2>
		<p>Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes?</p>
	</div>

	<div>
		<p>published: 12.12.2018, 16:08</p>
		<h2><a href="">The second post</a></h2>
		<p>But seek first his kingdom and his righteousness, and all these things will be given to you as well.</p>
	</div>
-->
	<!--{{posts}} -->

	{% for post in posts %}
	<div>
		<br>	
		Published: {{post.published_date}} 
		
		<h2>{{post.title}}</h2> 
		<p>
		{{post.text}}	
		</p>
	</div>
	{% endfor %}


</body>
</htlm>